.fa-xmark{
    font-size: 100px;}
.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
}

.sqr {
    border-color: black;
    /* border-style: none solid solid none; */
    height: 100px;
    /* background-color: white; */
}

#sqr_00{
/* border-radius: 25px 0 0 0; */
}

#sqr_01{
    
}

#sqr_02{
    /* border-style: none none solid none; */
}

#sqr_10{
    
}

#sqr_11{
    
}

#sqr_12{
    /* border-style: none none solid none; */
}

#sqr_20{
    /* border-style: none solid none none; */
}

#sqr_21{
    /* border-style: none solid none none; */
}

#sqr_22{
    /* border-style: none; */
}